.container {
  margin: 0 auto;
  width: 60%;
  border: 1px solid black;
  height: 80vh;
  /* text-align: center; */
}

.form {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  padding: 20px;
  /* justify-content: center; */
  align-items: center;
  gap: 20px;
}

.form div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 300px;
  gap: 10px;
  align-items: center;
  /* border: 1px solid black; */
}

.form div input {
  display: flex;
  justify-content: space-between;
  width: 200px;
  height: 30px;
  border: 1px solid black;
  border-radius: 5px;
}

.login {
  display: flex;
  flex-direction: row;
  justify-content: center !important;
  
}
.login button {
  padding: 10px;
  text-align: center;
}
